#intro-area {
    background-color: $blue;
    padding-bottom: 120px;
    position: relative;
    .container {
        position: relative;
        z-index: 1;
    }
    @include bp(sm-down) {
        padding-bottom: 40px;
    }
    .intro-topleft-shape {
        top: 0px;
        left: 0;
        content: '';
        display: block;
        background: url(../img/bg/intro-topleft-shape.png) left top no-repeat;
        position: absolute;
        width: 129px;
        height: 193px;
    }
    &:before {
        bottom: 0px;
        left: 0;
        content: '';
        display: block;
        background: url(../img/bg/intro-shape.png) left bottom no-repeat;
        position: absolute;
        max-width: 654px;
        width: 100%;
        height: 467px;
        @include bp(sm-down) {
            display: none;
        }
    }
    &:after {
        top: 1px;
        right: 0;
        content: '';
        display: block;
        background: url(../img/bg/about-shape-r.png) right top no-repeat;
        position: absolute;
        max-width: 297px;
        width: 100%;
        height: 100%;
    }
    .section-intro {
        text-align: center;
        padding-top: 90px;
        margin-bottom: 100px;
        position: relative;
        z-index: 1;
        @include bp(sm-down) {
            padding-top: 60px;
            margin-bottom: 60px;
        } 
        &:before {
            top: 0;
            @include centre(x);
            content: '';
            display: block;
            background: url(../img/bg/intro-top-shape.png) center top no-repeat;
            position: absolute;
            max-width: 806px;
            width: 100%;
            height: 81px;
        }
        h2 {
            @include heading-text;
            color: #c5bfb1;
            margin-bottom: 18px;
            strong {
                font-weight: normal;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        p {
            font-family: $robo-bold;
            font-size: 13px;
            color: #c5bfb1;
            text-transform: uppercase;
            line-height: 1.231;
            margin-bottom: 0;
            letter-spacing: 0.6em;
        }
    }
    .feature-items {
        text-align: center;
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
        img {
            margin-bottom: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h3 {
            font-size: 1.250em;
            font-family: $robo-bold;
            color: #fff;
            line-height: 1.5;
        }
        .feature-item {
            width: 160px;
            margin-left: auto;
            margin-right: auto;
            @include bp(sm-down) {
                margin-bottom: 30px;
            }
        }
    }
}

#about-area {
    background-color: $merino;
    padding-bottom: 180px;
    position: relative;
    overflow: hidden;
    @include bp(desktop) {
        padding-bottom: 150px;
    }
    @include bp(lg) {
        padding-bottom: 120px;
    }
    @include bp(md) {
        padding-bottom: 70px;
    }
    @media (max-width:1550px) {
        border-top-left-radius: 240px 170px;
    }
    @include bp(sm-down) {
        padding-bottom: 50px;
        border-radius: 0;
    }
    &:before {
        top: -1px;
        left: 0;
        content: '';
        display: block;
        background: url(../img/bg/aboutbg.jpg) left top no-repeat;
        position: absolute;
        max-width: 654px;
        width: 100%;
        height: 467px;
        @media (max-width:1550px) {
            background-color: $blue;
            position: absolute;
            width: 100%;
            height: 170px;
            display: block;
            top: 0;
            content: '';
            z-index: -1;
            left: 0;
            background-image: none;
        }
        @include bp(sm-down) {
            display: none;
        }
    }
    .about-bottom-shade {
        display: block;
        position: absolute;
        max-width: 1097px;
        width: 100%;
        height: 113px;
        bottom: 0;
        left: 0;
        background: url(../img/bg/about-bottom-shade.png) no-repeat;
        background-size: cover;
        z-index: 2;
    }
    .about-rb-shape {
        display: block;
        bottom: 0px;
        right: 0;
        display: block;
        background: url(../img/bg/about-rb-shape.png) bottom right no-repeat;
        position: absolute;
        width: 171px;
        height: 110px;
    }
    .section-intro {
        padding-top: 95px;
        text-align: center;
        margin-bottom: 75px;
        @include bp(sm-down) {
            padding-top: 60px;
            margin-bottom: 40px;
        }
        &:before {
            top: 0;
            @include centre(x);
            content: '';
            display: block;
            background: url(../img/bg/about-top-shape.png) center top no-repeat;
            position: absolute;
            max-width: 714px;
            width: 100%;
            height: 110px;
            @include bp(sm-down) {
                display: none;
            }
        }
        h2 {
            @include heading-text;
            color: #111111;
            margin-bottom: 18px;
            strong {
                font-weight: normal;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        p {
            font-family: $robo-bold;
            font-size: 13px;
            color: #868686;
            text-transform: uppercase;
            line-height: 1.231;
            margin-bottom: 0;
            letter-spacing: 0.6em;
        }
    }
    .about-items {
        .col-lg-5, .col-lg-7  {
            @include bp(md) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        .about-item {
            margin-bottom: 100px;
            @include bp(md) {
                margin-bottom: 70px;
            }
            @include bp(sm-down) {
                margin-bottom: 50px;
            }
            .about-photo {
                position: relative;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
                &.overlayed {
                    padding: 10px;
                    &:after {
                        background-color: rgba($red, .9);
                    }
                    .ap-content {
                        border: 1px solid rgba(255, 255, 255, 0.302);
                        padding: 40px;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        z-index: 3;
                        @include bp(sm-down) {
                            padding: 25px;
                        }
                    }
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    max-width: 265px;
                    width: 100%;
                    height: calc(100% - 20px);
                    top: 10px;
                    left: auto;
                    right: 10px;
                    background: url(../img/bg/ai-right-shape.png) no-repeat;
                    background-size: cover;
                    z-index: 2;
                }
                .shade {
                    display: block;
                    position: absolute;
                    width: 54px;
                    height: 100%;
                    top: 0px;
                    left: auto;
                    right: -54px;
                    background: url(../img/bg/ai-right-shape-black.png) no-repeat;
                    background-size: cover;
                    z-index: 2;
                }
                &:not(.overlayed) {
                    .ap-content {
                        border: 1px solid rgba(255, 255, 255, 0.302);
                        padding: 40px;
                        @include centre(both);
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: calc(100% - 20px);
                        height: calc(100% - 20px);
                        z-index: 3;
                    }
                }
                .ap-content {
                    .ap-heading {
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;
                        margin-top: auto;
                        @include bp(lg-down){
                            flex-direction: column;
                            justify-content: center;
                        }
                        .ap-ico {
                            display: block;
                            margin-right: 30px;
                            @include bp(lg-down) {
                                margin-left: auto;
                                margin-right: auto;
                                margin-bottom: 15px;
                            }
                        }
                        p {
                            font-size: 1.5em;
                            font-family: $font-heading;
                            color: #fff;
                            line-height: 1.25;
                            margin-bottom: 0;
                            @include bp(lg-down) {
                                text-align: center;
                            }
                        }
                    }
                    .ap-text {
                        margin-bottom: auto;
                        p {
                            @include regular-text;
                            color: #fff;
                            margin-bottom: 0;
                            text-align: justify;
                        }
                    }
                }
                .ap-cta {
                    position: absolute;
                    right: 24px;
                    transform: translateY(50%);
                    bottom: 0;
                    z-index: 3;
                    max-width: 251px;
                    @include bp(md-down) {
                        transform: none;
                        right: auto;
                        left: 0;
                    }
                    a {
                        background: $red url(../img/bg/ap-cta-bg.png) center center no-repeat;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 251px;
                        height: 252px;
                        text-align: center;
                        font-family: $font-heading;
                        font-size: 40px;
                        color: #fff;
                        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.17);
                        text-transform: uppercase;
                        padding: 0;
                        border: 0;
                        @include animate-fade;
                        padding: 0 40px 0 30px;
                        &:after {
                            @include font-ico;
                            @include centre(y);
                            color: #fff;
                            right: 55px;
                            font-size: 26px;
                            content: "\e909";
                            margin-top: 7px;
                        }
                        &:hover {
                            background-color: $blue;
                            cursor: pointer;
                        }
                        span {
                            font-family: $font-heading;
                            color: #fff;
                            line-height: 1.2;
                            display: block;
                            &:nth-child(1) {
                                font-size: 66px;
                                line-height: 1;
                            }
                            &:nth-child(2) {
                                font-size: 28px;
                            }
                            &:nth-child(3) {
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
            .about-content {
                max-width: 636px;
                position: relative;
                z-index: 3;
                @include bp(md-down) {
                    max-width: 100%!important;
                }
                @include bp(sm-down) {
                    margin-top: 30px;
                }
                h3 {
                    @include subheading-text;
                    margin-bottom: 30px;
                    @include bp(sm-down) {
                        margin-bottom: 20px;
                    }
                }
                p {
                    @include regular-text;
                    text-align: justify;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
            &:first-of-type {
                .about-content {
                    max-width: 585px;
                }
            }
            &:last-of-type {
                margin-bottom: 0;
                .col-lg-5, .col-lg-7  {
                    @include bp(md) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                .about-content {
                    margin-top: 30px;
                    @include bp(lg-down) {
                        margin-top: 0;
                    }
                    @include bp(md-down) {
                        margin-top: 30px;
                    }
                }
                .about-photo {
                    @include bp(md) {
                        max-width: 470px;
                    }
                }
                .row {
                    align-items: flex-start!important;
                }
            }
            .row {
                align-items: center;
            }
            &:nth-of-type(even) {
                .row {
                    flex-direction: row-reverse;
                }
                .shade {
                    transform: rotate(180deg);
                    right: auto;
                    left: -54px;
                }
            }
            &:nth-of-type(odd) {
                .about-content {
                    margin-left: auto;
                    @include bp(md) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

#cities-area {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 181px;
    padding-bottom: 80px;
    min-height: 754px;
    background-position: center center;
    @include bp(desktop) {
        padding-top: 140px;
    }
    @include bp(lg) {
        min-height: auto;
        padding-top: 100px;
    }
    @include bp(md) {
        min-height: auto;
        padding-top: 80px;
    }
    @include bp(sm-down) {
        padding-top: 60px;
        min-height: auto;
        padding-bottom: 60px;
    }
    .col-lg-5 {
        @media (min-width: 992px) {
            flex: 0 0 38.6%;
            max-width: 38.6%;
        }
    }
    .col-lg-7 {
        @media (min-width: 992px) {
            flex: 0 0 61.4%;
            max-width: 61.4%;
        }
    }
    .container {
        @media (min-width: 1300px) {
            max-width: 1260px;
        }
    }
    .cities-area-in {
        @media (min-width: 1300px) {
            margin-left: -30px;
            padding-right: 30px;
        }
    }
    .btn-next {
        text-align: right;
        a {
            @include red-btn;
            min-width: 300px!important;
            &:after {
                @include font-ico;
                @include animate-fade;
                content: "\e903";
                color: #fff;
                font-size: 42px;
                left: 20px;
                position: relative;
            }
            &:hover {
                &:after {
                    left: 25px;
                }
            }
        }
    }
    .section-intro {
        h2 {
            margin-bottom: 10px;
            &:before {
                display: block;
                content: '';
                margin-bottom: 15px;
                background-image: url(../img/ico/stars.png);
                width: 47px;
                height: 16px;
            }
            @include heading-text3;
            span {
                display: block;
                @include bp(md-down) {
                    display: inline-block!important;
                }
                &:nth-child(2) {
                    font-size: 73px;
                    @include bp(desktop) {
                        font-size: 65px;
                    }
                    @include bp(lg) {
                        font-size: 58px;
                    }
                    @include bp(md) {
                        font-size: 48px;
                    }
                    @include bp(sm-down) {
                        font-size: 39px;
                    }
                }
                &:nth-child(3) {
                    font-size: 61px;
                    @include bp(desktop) {
                        font-size: 55px;
                    }
                    @include bp(lg) {
                        font-size: 50px;
                    }
                    @include bp(md) {
                        font-size: 45px;
                    }
                    @include bp(sm-down) {
                        font-size: 40px;
                    }
                }
            }
        }
        p {
            font-size: 13px;
            font-family: $robo-reg;
            color: #fff;
            text-transform: uppercase;
            line-height: 1.231;
            margin-bottom: 0;
            letter-spacing: 0.6em;
        }
        a.si-btn {
            margin-top: 50px;
            @include red-btn;
            @include bp(lg){
                min-width: auto;
                width: 100%;
            }
        }
    }
    .cities-list {
        padding: 12px;
        background: $blue url(../img/bg/cities-slider-bg.png) no-repeat center center;
        background-size: cover;
        @include bp(md-down) {
            margin-top: 50px;
        }
        .cities-list-in {
            padding: 65px 50px 85px 50px;
            border: 1px solid rgba(255,255,255,.302);
            @include bp(sm-down) {
                padding: 25px;
            }
            p {
                @include regular-text;
                margin-bottom: 0;
                color: #fff;
                line-height: 2.125;
                text-align: justify;
                a {
                    color:$red;
                    &:hover {
                        color:$white;
                        text-decoration: underline;
                    }
                }
            }
        }
        #cities-slider {
            padding: 65px 50px 85px 50px;
            border: 1px solid rgba(#fff, 0.302);
            @include bp(sm-down) {
                padding: 40px 50px 40px 20px;
            }
            li {
                a {
                    font-size: 16px;
                    font-family: $robo-reg;
                    color: #fff;
                    line-height: 2.125;
                    padding-left: 20px;
                    position: relative;
                    display: inline-block;
                    &:before {
                        @include font-ico;
                        @include centre(y);
                        left: 0;
                        @include animate-fade;
                        opacity: 0;
                        content: "\e903";
                        color: $red;
                    }
                    &:hover {
                        color: $red;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

#trailer-types {
    background-color: #e8e2d4;
    position: relative;
    padding-bottom: 150px;
    border-bottom-right-radius: 215px;
    @include bp(md) {
        border-bottom-right-radius: 100px; 
        padding-bottom: 100px;
    }
    @include bp(sm-down) {
        border-radius: 0;
        padding-bottom: 40px;
    }
    &:after {
        background-color: $blue;
        position: absolute;
        width: 100%;
        height: 215px;
        display: block;
        bottom: 0;
        content: '';
        z-index: -1;
        @include bp(md-down) {
            height: 100px; 
        }
    }
    &:before {
        top: -2px;
        left: 0;
        content: '';
        display: block;
        background: url(../img/bg/cities-shape.png) left top no-repeat;
        position: absolute;
        width: 194px;
        height: 141px;
        @include bp(sm-down) {
            display: none;
        }
    }
    .section-intro {
        text-align: center;
        padding-top: 90px;
        margin-bottom: 95px;
        position: relative;
        @include bp(sm-down) {
            padding-top: 60px;
            margin-bottom: 40px;
        }
        &:before {
            top: 0;
            @include centre(x);
            content: '';
            display: block;
            background: url(../img/bg/trailer-top-shape.png) center top no-repeat;
            position: absolute;
            max-width: 1502px;
            width: 100%;
            height: 110px;
        }
        h2 {
            @include heading-text2;
            margin-bottom: 30px;
            max-width: 330px;
            margin-left: auto;
            margin-right: auto;
            &:before {
                display: block;
                content: '';
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                background-image: url(../img/ico/stars.png);
                width: 47px;
                height: 16px;
            }
        }
        p {
            font-family: $robo-reg;
            font-size: 16px;
            line-height: 1.875;
            color: #000;
            margin-bottom: 0;
            max-width: 755px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .trailer-cats {
        position: relative;
        padding-left: 8px;
        padding-right: 8px;
        [class*="col-"] {
            padding-left: 7px;
            padding-right: 7px;
            &:first-of-type {
                .trailer-cat {
                    .tc-cta {
                        background-color: $red;
                        &:before {
                            position: absolute;
                            top: 19px;
                            right: 15px;
                            content: '';
                            background: url(../img/ico/arrow-top-right.svg) no-repeat center center;
                            width: 31px;
                            height: 32px;
                        }
                        &:hover {
                            background-color: $blue;
                        }
                    }
                }
            }
            &:last-of-type {
                .trailer-cat {
                    .tc-cta {
                        left: auto;
                        right: 10px;
                        background-color: $blue;
                        justify-content: flex-end;
                        &:before {
                            position: absolute;
                            top: 19px;
                            left: 15px;
                            content: '';
                            background: url(../img/ico/arrow-top-left.svg) no-repeat center center;
                            width: 31px;
                            height: 32px;
                        }
                        h3 {
                            text-align: right;
                        }
                        &:hover {
                            background-color: $red!important;
                        }
                    }
                }
            }
        }
        .trailer-cat {
            position: relative;
            @include bp(sm-down) {
                margin-bottom: 30px;
            }
            &:after {
                bottom: 0px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(100%);
                content: '';
                display: block;
                background: url(../img/bg/trailer-cat-bg.png) left top no-repeat;
                position: absolute;
                width: 100%;
                height: 85px;
            }
            img {
                border-radius: 10px;
            }
            .tc-cta {
                padding: 20px 30px 25px 30px;
                position: absolute;
                left: 10px;
                bottom: 10px;
                z-index: 3;
                background: url(../img/bg/tc-cta-bg.png) center center;
                background-size: cover;
                width: 283px;
                height: 228px;
                border-radius: 10px;
                display: flex;
                align-items: flex-end;
                @include animate-fade;
            }
            .url-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                top: 0;
                left: 0;
                font-size: 0;
            }
            h3 {
                @include subheading-text;
                color: #fff;
                strong {
                    display: block;
                    font-weight: normal;
                }
            }
        }
        .vs-circle {
            @include centre(both);
            z-index: 2;
            @include subheading-text;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 130px;
            height: 130px;
            background: $blue url(../img/bg/vs-shape.png) center center no-repeat;
            border-radius: 50%;
            @include bp(sm-down) {
                display: none;
            }
        }
    }
}
#reviews-area {
    padding-top: 95px;
    padding-bottom: 125px;
    background-color: $blue;
    min-height: 578px;
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: auto;
        overflow: hidden;
    }
    .col-lg-6 {
        &:first-of-type {
            @include bp(desktop) {
                flex: 0 0 41.666667%;
                max-width: 41.666667%;
            }
        }
    }
    .section-intro {
        h2 {
            margin-bottom: 10px;
            width: 80%;
            &:before {
                display: block;
                content: '';
                margin-bottom: 15px;
                background-image: url(../img/ico/stars.png);
                width: 47px;
                height: 16px;
            }
            font-family: $font-heading;
            color: #fff;
            line-height: 1.2;
            span {
                display: block;
                &:nth-child(1) {
                    font-size: 56px;
                }
                &:nth-child(2) {
                    font-size: 53px;
                }
                &:nth-child(3) {
                    font-size: 57px;
                }
                @include bp(lg-down) {
                    display: inline-block;
                }
                @include bp(lg) {
                    font-size: 50px!important;
                }
                @include bp(md) {
                    font-size: 40px!important;
                }
                @include bp(sm-down) {
                    font-size: 35px!important;
                }
            }
        }
        p {
            @include regular-text;
            color: #fff;
            font-family: $robo-light;
            max-width: 400px;
            margin-bottom: 0;
            @include bp(lg-down) {
                max-width: 100%;
            }
        }
        a.read-all {
            font-size: 1.5em;
            font-family: $font-heading;
            color: #e8e2d4;
            text-decoration: underline;
            text-transform: uppercase;
            line-height: 1.25;
            display: inline-block;
            margin-top: 25px;
            &:hover {
                color: $red;
            }
        }
    }
    .col-lg-6 {
        @include bp(lg) {
            flex: 100%;
            max-width: 100%;
        }
    }
    .abs-pos {
        position: absolute;
        left: 50vw;
        @include bp(desktop) {
            left: 41.666667vw;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
        @include bp(lg-down) {
            position: relative;
            left: auto!important;
            right: -25px;
            padding-left: 0;
        }
    }
    .reviews-list {
        @include bp(lg-down) {
            margin-top: 50px;
        }
        #reviews-slider {
            .slick-slide {
                margin: 0 22px;
                @include bp(sm-down) {
                    margin: 0 11px;
                }
            }
            .slick-list {
                margin: 0 -22px;
                padding:0 25% 0 0;
                padding-bottom: 30px;
                @include bp(sm-down) {
                    margin: 0 -11px;
                }
            }
            .review-box {
                display: flex;
                flex-direction: row;
                background-color: #e8e2d4;
                border-radius: 10px;
                padding: 55px 80px 55px 40px;
                position: relative;
                @include bp(sm-down) {
                    display: block;
                    padding: 30px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 38px;
                    bottom: 34px;
                    background: url(../img/ico/quotes.svg) right bottom;
                    z-index: 1;
                    width: 77px;
                    height: 62px;
                    background-repeat: no-repeat;
                    @include bp(md-down) {
                        background-size: 50%;
                    }
                }
                &:before {
                    content: '';
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-right: 38px solid $merino;
                    width: 60px;
                    height: 30px;
                    position: absolute;
                    bottom: -30px;
                    right: 38px;
                    z-index: 3;
                }
                .img-holder {
                    border-radius: 50%;
                    border: 3px solid $red;
                    position: relative;
                    min-width: 62px;
                    height: 62px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;
                    @include bp(sm-down) {
                        max-width: 62px;
                        margin-top: 0;
                    }
                    img {
                        border-radius: 50px;
                        width: 100%;
                        border: 3px solid $merino;
                    }
                }
                .content-area {
                    margin-left: 40px;
                    flex-grow: 1;
                    @include bp(sm-down) {
                        margin-left: 0;
                    }
                    .stars-area {
                        margin-bottom: 25px;
                        @include bp(sm-down) {
                            text-align: center;
                            margin-bottom: 15px;
                            margin-top: 10px;
                        }
                        i {
                            font-size: 12px;
                            &:after {
                                color: #cd1a06;
                            }
                        }
                    }
                    .review-text {
                        text-align: justify;
                        p {
                            &:last-of-type {
                                @include regular-text;
                                color: #333333;
                                margin-bottom: 0;
                            }
                        }
                    }
                    footer {
                        margin-top: 27px;
                        @include bp(md-down) {
                            padding-right: 55px;
                        }
                        .author {
                            display: block;
                            font-family: $robo-bold;
                            font-size: 15px;
                        }
                        .location {
                            font-family: $robo-reg;
                            font-size: 13px;
                            color: #333333;
                        }
                    }
                }
            }
        }
    }
}

#costs-area {
    background-color: $merino;
    position: relative;
    padding-top: 85px;
    padding-bottom: 65px;
    border-top-left-radius: 240px 170px;
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
        border-radius: 0;
    }
    &:before {
        background-color: $blue;
        position: absolute;
        width: 100%;
        height: 170px;
        display: block;
        top: 0;
        content: '';
        z-index: -1;
        left: 0;
        @include bp(sm-down) {
            display: none;
        }
    }
    .section-intro {
        margin-bottom: 70px;
        @include bp(sm-down) {
            margin-bottom: 40px;
        }
        h2 {
            text-align: center;
            @include heading-text2;
            margin-bottom: 30px;
            max-width: 330px;
            margin-left: auto;
            margin-right: auto;
            strong {
                font-weight: normal;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            &:before {
                display: block;
                content: '';
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                background-image: url(../img/ico/stars.png);
                width: 47px;
                height: 16px;
            }
        }
        p {
            font-family: $robo-reg;
            font-size: 16px;
            line-height: 1.875;
            color: #000;
            margin-bottom: 0;
            max-width: 885px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .costs-boxes {
        padding-left: 8px;
        padding-right: 8px;
        [class*="col-"] {
            padding-left: 7px;
            padding-right: 7px;
            margin-bottom: 12px;
        }
        .cost-box {
            border: 1px solid rgba(153, 148, 136, 0.522);
            border-radius: 6px;
            padding: 53px 50px 30px 50px;
            height: 100%;
            @include bp(lg-down) {
                padding: 40px 30px 30px 30px;
            }
            img {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 32px;
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                -ms-interpolation-mode: nearest-neighbor;
                @include bp(lg-down) {
                    width: 100px;
                }
            }
            h3 {
                @include subheading-text2;
                margin-bottom: 20px;
                text-align: center;
            }
            p {
                @include regular-text;
                margin-bottom: 0;
                color: #000000;
                line-height: 1.5;
                text-align: justify;
            }
        }
    }
    .costs-btn {
        text-align: center;
        a {
            margin-top: 60px;
            @include red-btn;
            margin-left: auto;
            margin-right: auto;
            @include bp(sm-down) {
                margin-top: 30px;
            }
        }
    }
}

#faq-area {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 185px;
    padding-bottom: 100px;
    // min-height: 776px;
    background-position: center center;
    &.blog-accordion {
        padding-top: 0;
        padding-bottom: 40px;
        .faq__accordion {
            h3 {
                background-color: #273852;
                text-align: left;
                padding-left: 25px;
                margin-bottom: 3px;
                &:after {
                    right: 25px;
                }
            }
            .content {
                padding: 20px;
                p {
                    @include regular-text;
                    color: $blue;
                }
            }
        }
    }
    @include bp(desktop) {
        padding-top: 140px;
        min-height: auto;
    }
    @include bp(lg) {
        padding-top: 100px;
        min-height: auto; 
    }
    @include bp(md-down) {
        padding-top: 60px;
        min-height: auto; 
        padding-bottom: 60px;
    }
    .col-lg-5 {
        @media (min-width: 992px) {
            flex: 0 0 38.6%;
            max-width: 38.6%;
        }
    }
    .col-lg-7 {
        @media (min-width: 992px) {
            flex: 0 0 61.4%;
            max-width: 61.4%;
        }
    }
    .section-intro {
        max-width: 374px;
        @include bp(md-down) {
            max-width: 100%;
        }
        h2 {
            @include heading-text;
            margin-bottom: 25px;
            color: #fff;
            line-height: 1.2;
            &:before {
                margin-left: 0;
            }
        }
        p {
            @include regular-text;
            color: #fff;
            font-family: $robo-bold;
            line-height: 1.5;
            max-width: 400px;
            margin-bottom: 0;
            text-align: justify;
            @include bp(md-down) {
                max-width: 100%;
            }
        }
        a.faq-btn {
            margin-top: 35px;
            @include red-btn;
            @include bp(lg){
                min-width: auto;
                width: 100%;
            }
        }
    }
    .faq__accordion {
        @include bp(lg){
            padding-left: 20px;
        }
        @include bp(md-down) {
            margin-top: 40px;
        }
        h3 {
            font-size: 18px;
            font-family: $robo-bold;
            color: #fff;
            line-height: 1.333;
            position: relative;
            padding: 14px 30px 22px 0px;
            cursor: pointer;
            @include animate-fade;
            border:0;
            margin: 0;
            &:hover {
                cursor: pointer;
                color: $red;
                &:after {
                    color: $red;
                }
            }
            &:focus {
                outline: none!important;
            }
            &:before {
                content: '';
                display: block;
                @include centre(x);
                top: 0;
                width: 100%;
                max-width: 541px;
                height: 83px;
                background: transparent url(../img/bg/faq-shape.png) center top;
            }
            &:after {
                font-family: "icomoon";
                content: "\e900";
                @include centre(y);
                right: 0px;
                font-size: 14px;
                font-weight: 900;
                color: #fff;
                @include animate-fade;
            }
            &.active {
                color: $red;
                &:after {
                    transform: translateY(-50%) rotate(90deg);
                    color: $red;
                }
            }
        }
        .content {
            border:0;
            padding: 20px 0 25px 0;
            display: none;
            p {
                @include regular-text;
                line-height: 1.5;
                color: #fff;
                margin-bottom: 0;
                text-align: justify;
                strong {
                    font-weight: normal;
                    font-family: $robo-bold;
                }
                a {
                    text-decoration: underline;
                    color:$merino;
                    &:hover {
                        color:$white;
                    }
                }
            }
        }
    }
}

#history-area {
    background-color: $merino;
    padding-bottom: 135px;
    position: relative;
    @include bp(lg) {
        padding-bottom: 110px;
    }
    @include bp(md) {
        padding-bottom: 90px;
    }

    @include bp(sm-down) {
        padding-bottom: 70px;
    }
    .container {
        @media (min-width:1300px) {
            max-width: 1252px;
        }
    }
    &:after {
        bottom: 0;
        @include centre(x);
        content: '';
        display: block;
        background: url(../img/bg/history-bottom-shape.png) center top no-repeat;
        position: absolute;
        max-width: 1688px;
        width: 100%;
        height: 148px;
    }
    .section-intro {
        padding-top: 85px;
        position: relative;
        text-align: center;
        @include bp(sm-down) {
            padding-top: 50px;
        }
        &:before {
            top: 0;
            @include centre(x);
            content: '';
            display: block;
            background: url(../img/bg/trailer-top-shape.png) center top no-repeat;
            position: absolute;
            max-width: 1502px;
            width: 100%;
            height: 110px;
        }
    }
    
    h2 {
        @include heading-text;
        text-align: center;
        margin-bottom: 30px;
    }
    .timeline-item {
        position: relative;
        min-width: 282px;
        max-width: 282px;
        margin-left: auto;
        margin-right: auto;
        @include bp(sm-down) {
            max-width: 100%;
        }
        .year {
            font-family: $font-heading;
            font-size: 1.875em;
            line-height: 1.2;
            color: #111;
            @include bp(sm-down) {
                text-align: center;
                display: block;
            }
        }
       /* &:nth-of-type(odd) {
            &:after {
                border-bottom: 10px solid #fff;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: none;
                bottom: 100%;
                top: auto;
            }
        }
        &:nth-of-type(even) {
            &:after {
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                left: 50%;
                right: auto;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                top: 100%;
            }
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
        }*/
        img {
            margin-top: 30px;
            margin-bottom: 30px;
            @include bp(sm-down) {
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
            }
        }
        p {
            @include regular-text;
            text-align: justify;
            margin-bottom: 0;
            color: #111111;
        }
    }
    .timeline-year {
        position: absolute;
        background-color: $blue;
        margin-left: auto;
        margin-right: auto;
        font-family: $robo-bold;
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
        width: 71px;
        height: 35px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.17);
        &:before {
            background-color: $blue;
            border-radius: 50%;
            content: '';
            height: 14px;
            position: absolute;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            top: -20px;
            width: 14px;
            z-index: 2;
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
        }
        &:after {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 10px solid $blue;
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            top: 100%;
        }
        img {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    
    .upper-content {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .timeline-year {
            margin-bottom: 20px;
            &:before {
                top: calc(100% + 20px);
            }
            &:nth-of-type(1) {
                left: 0;
                background-color: #bebdb7;
                @include bp(lg) {
                    display: none;
                }
                &:before {
                    background-color: #d4d7dc;
                }
                &:after {
                    border-top: 10px solid #bebdb7;
                }
            }
            &:nth-of-type(2) {
                left: 186px;
                @include bp(lg) {
                    left: 20px;
                }
            }
            &:nth-of-type(3) {
                left: 348px;
                @include bp(lg) {
                    left: 190px;
                }
            }
            &:nth-of-type(5) {
                right: 348px;
                background-color: #858b91;
                @include bp(lg) {
                    right: 190px;
                }
                &:after {
                    border-top: 10px solid #858b91;
                } 
            }
            &:nth-of-type(6) {
                right: 186px;
                background-color: #858b91;
                @include bp(lg) {
                    right: 20px;
                }
                &:after {
                    border-top: 10px solid #858b91;
                }
            }
            &:nth-of-type(7) {
                right: 0;
                background-color: #d4d7dc;
                @include bp(lg) {
                    display: none;
                }
                &:before {
                    background-color: #d4d7dc;
                }
                &:after {
                    border-top: 10px solid #d4d7dc;
                }
            }
        }
        .timeline-area {
            &:after {
                border-bottom: 10px solid $blue;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: none;
                bottom: 100%;
                top: auto;
            }
        }
        .timeline-item {
            position: relative;
            &:after {
                @include centre(x);
                bottom: 18px;
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12px 17.5px 0 17.5px;
                border-color: #636464 transparent transparent transparent;
            }
        }
    }
    .bottom-content {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .timeline-year {
            margin-top: 20px;
            background-color: #4d596b;
            &:nth-of-type(2) {
                left: calc(50% - 115px);
                &:after {
                    border-bottom: 10px solid #4d596b;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: none;
                    bottom: 100%;
                    top: auto;
                }
            }
            &:nth-of-type(3) {
                right: calc(50% - 115px);
                &:after {
                    border-bottom: 10px solid #4d596b;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: none;
                    bottom: 100%;
                    top: auto;
                }
            }
        }
        .timeline-area {
            &:after {
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $blue;
                left: 50%;
                right: auto;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                top: 100%;
            }
        }
        .timeline-item {
            position: relative;
            &:after {
                @include centre(x);
                top: 17.5px;
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 17.5px 12px 17.5px;      
            }
            &:nth-of-type(1) {
                @include bp(lg) {
                    margin-left: 0;
                }
                &:after {
                    border-color: transparent transparent #E5E5DE transparent;
                }
            }
            &:nth-of-type(4) {
                @include bp(lg) {
                    margin-right: 0;
                }
                &:after {
                    border-color: transparent transparent #6D6E6D transparent;
                }
            }
        }
    }
    .timeline-area {
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .timeline-divider {
        background-color: rgba(39, 56, 82, .2);
        display: block;
        height: 3px;
        left: 0px;
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0px;
        z-index: 1;
        @include bp(md-down) {
            display: none;
        }
    }
    .hide-mob {
        @include bp(md-down) {
            display: none;
        }
    }
    .show-mob {
        @include bp(md-up) {
            display: none;
        }
    }
}

