#services-intro-area {
    background-color: $blue;
    padding-bottom: 50px;
    position: relative;
    .intro-topleft-shape {
        top: 0px;
        left: 0;
        content: '';
        display: block;
        background: url(../img/bg/intro-topleft-shape.png) left top no-repeat;
        position: absolute;
        width: 129px;
        height: 193px;
    }
    &:before {
        bottom: 0px;
        left: 0;
        content: '';
        display: block;
        background: url(../img/bg/intro-shape.png) left bottom no-repeat;
        position: absolute;
        max-width: 654px;
        width: 100%;
        height: 467px;
    }
    &:after {
        top: 1px;
        right: 0;
        content: '';
        display: block;
        background: url(../img/bg/about-shape-r.png) right top no-repeat;
        position: absolute;
        max-width: 297px;
        width: 100%;
        height: 100%;
    }
    .services-intro-content {
        position: relative;
        padding-top: 110px;
        padding-bottom: 20px;
        @include bp(sm-up) {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 65px;
            -moz-column-gap: 65px;
            column-gap: 65px;
        }
        &:before {
            top: 0;
            @include centre(x);
            content: '';
            display: block;
            background: url(../img/bg/intro-top-shape.png) center top no-repeat;
            position: absolute;
            max-width: 806px;
            width: 100%;
            height: 81px;
        }
        h2 {
            @include heading-text;
            color: #fff;
            margin-bottom: 30px;
            text-align: center;
            line-height: 1.25;
            strong {
                font-weight: normal;
                display: block;
                margin-left: auto;
                margin-right: auto;
                font-size: 36px;
                color: #c5bfb1;
            }
            &:before {
                margin-bottom: 60px;
            }
        }
        p {
            @include regular-text;
            color: #fff;
            text-align: justify;
            max-width: 775px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .scroll-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 77px;
        height: 77px;
        background-color: $blue;
        border-radius: 50%;
        @include centre(x);
        bottom: -35px;
        z-index: 1;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color:$red;
            font-size: 22px;
            width: 100%;
            height: 100%;
            padding-top: 10px;
            i {
                transform: rotate(90deg);
                font-weight: bold;
            }
        }
    }
}



#insurance-area {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 676px;
    position: relative;
    padding-top: 95px;
    padding-bottom: 95px;
    display: flex;
    align-items: center;
    @include bp(md) {
        padding-top: 70px;
        padding-bottom: 70px;
        align-items: flex-start;
        min-height: auto;
    }
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
        align-items: flex-start;
        min-height: auto;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(234, 23, 16, .90);
    }
    .container {
        z-index: 1;
        position: relative;
    }
    .insirance-in {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        .col-lg-5 {
            @media (min-width: 992px) {
                flex: 0 0 45%;
                max-width: 45%;
            }
        }
        .col-lg-7 {
            @media (min-width: 992px) {
                flex: 0 0 55%;
                max-width: 55%;
            }
        }
    }
    h2 {
        font-size: 3.750em;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 0;
        padding-top: 50px;
        @include bp(desktop) {
            font-size: 3.2em;
        }
        @include bp(lg) {
            font-size: 2.8em;
        }
        @include bp(md) {
            font-size: 2.6em;
            padding-top: 0;
            margin-bottom: 20px;
        }
        @include bp(sm-down) {
            font-size: 2.4em;
            padding-top: 0;
            margin-bottom: 20px;
        }
        &:before {
            display: block;
            content: '';
            margin-bottom: 15px;
            background-image: url(../img/ico/stars-white.png);
            width: 47px;
            height: 16px;
        }
    }
    .insurance-text {
        p {
            @include regular-text;
            color: #fff;
            text-align: justify;
            max-width: 495px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.667;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include bp(md-down) {
                max-width: 100%;
            }
        }
    }
}


#about-area.about-services {
    @media (min-width: 1550px) {
        padding-bottom: 155px;
    }
    .section-intro {
        @media (min-width: 1550px) {
            margin-bottom: 100px;
        }
    }
    .about-items {
        .about-item {
            @media (min-width: 1550px) {
                margin-bottom: 165px;
            }
            &:last-of-type {
                margin-bottom: 0!important;
            }
            .about-photo {
                &:before {
                    display: none;
                }
                .ap-content {
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 80px 50px;
                    @include bp(lg-down) {
                        display: block;
                        padding: 40px;     
                    }
                    .ap-heading {
                        margin-top: 0;
                        margin-bottom: 0;
                        min-width: 48px;
                        margin-right: 20px;
                        img {
                            width: 48px;
                        }
                    }
                }
                .ap-cta {
                    right: 0!important;
                    transform: none!important;
                }
            }
        }
    }
}

#service-benefits {
    background-color: $merino;
    position: relative;
    padding-top: 85px;
    padding-bottom: 100px;
    border-top-left-radius: 240px 170px;
    border-bottom-right-radius: 240px 170px;
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
        border-radius: 0;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 170px;
        display: block;
        background-color: rgba(234, 23, 16, .90);
        z-index: -1;
        @include bp(sm-down) {
            display: none;
        }
    }
    &:before {
        background-color: $blue;
        position: absolute;
        width: 100%;
        height: 170px;
        display: block;
        top: 0;
        content: '';
        z-index: -1;
        left: 0;
        @include bp(sm-down) {
            display: none;
        }
    }
    .section-intro {
        margin-bottom: 100px;
        @include bp(lg-down) {
            margin-bottom: 70px;
        }
        @include bp(sm-down) {
            margin-bottom: 40px;
        }
        h2 {
            text-align: center;
            @include heading-text2;
            margin-bottom: 30px;
            strong {
                font-weight: normal;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            &:before {
                display: block;
                content: '';
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                background-image: url(../img/ico/stars.png);
                width: 47px;
                height: 16px;
            }
        }
        p {
            font-family: $robo-reg;
            font-size: 16px;
            line-height: 1.875;
            color: #000;
            margin-bottom: 0;
            max-width: 620px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    .benefit-boxes {
        padding-left: 8px;
        padding-right: 8px;
        [class*="col-"] {
            padding-left: 7px;
            padding-right: 7px;
            margin-bottom: 12px;
        }
        .benefit-box {
            border: 1px solid rgba(153, 148, 136, 0.522);
            border-radius: 6px;
            padding: 53px 50px 30px 50px;
            height: 100%;
            display: flex; 
            min-height: 295px;
            @include bp(lg-down) {
                padding: 40px 30px 30px 30px;
            }
            @include bp(md) {
                min-height: auto;
            }
            @include bp(sm-down) {
                display: block;
            }
            img {
                margin-right: 40px;
                align-self: flex-start;
                @include bp(sm-down) {
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 20px;
                }
            }
            h3 {
                @include subheading-text2;
                margin-bottom: 15px;
                @include bp (sm-down) {
                    text-align: center;
                }
            }
            p {
                @include regular-text;
                margin-bottom: 0;
                color: #000000;
                line-height: 1.5;
                text-align: justify;
            }
        }
    }
}
#trailer-choose.service-choose {
    h2 {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

#bottom-quote.service-quote {
    border-top-left-radius: 240px 170px;
    @include bp(md) {
        padding-top: 80px;
    }
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 80px;
        border-radius: 0;
    }
    &:before {
        background-color: #e12920;
        position: absolute;
        width: 100%;
        height: 170px;
        display: block;
        top: 0;
        content: '';
        z-index: -1;
        left: 0;
        @include bp(sm-down) {
            display: none;
        }
    }
}